<html>
<body>

<form action = "/predict" method = "post">
<p>
<label for="sl"> Enter the Sepal Length :</label>
<input type = "text" name = "sl"/> </p> <br>

<p>
<label for="sw"> Enter the Sepal Width :</label>
<input type = "text" name = "sw"/> </p> <br>

<p>
<label for="pl"> Enter the Petal Length :</label>
<input type = "text" name = "pl"/> </p> <br>

<p>
<label for="pw"> Enter the Petal Width :</label>
<input type = "text" name = "pw"/> </p> <br>

<p> <input type = "submit" value = "prediction"/> </p>
</form>
<p><b>{{y}}</b></p>
